[submodule ".zsh/antigen"]
  path = .zsh/antigen
  url = https://github.com/zsh-users/antigen
[submodule ".vim/bundle/fugitive"]
  path = .vim/bundle/fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/goyo"]
  path = .vim/bundle/goyo
  url = https://github.com/junegunn/goyo.vim
[submodule ".vim/bundle/pathogen"]
  path = .vim/bundle/pathogen
  url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/markdown"]
  path = .vim/bundle/markdown
  url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/fzf"]
  path = .vim/bundle/fzf
  url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/languagetool"]
  path = .vim/bundle/languagetool
  url = https://github.com/dpelle/vim-LanguageTool
[submodule ".vim/bundle/lexima"]
	path = .vim/bundle/lexima
	url = https://github.com/cohama/lexima.vim
