[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule ".vim/pack/benjaminwil/start/fugitive"]
	path = .vim/pack/benjaminwil/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/benjaminwil/opt/languagetool"]
	path = .vim/pack/benjaminwil/opt/languagetool
	url = https://github.com/dpelle/vim-LanguageTool
[submodule ".vim/pack/benjaminwil/opt/goyo"]
	path = .vim/pack/benjaminwil/opt/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/pack/benjaminwil/start/markdown"]
	path = .vim/pack/benjaminwil/start/markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/pack/benjaminwil/start/rhubarb"]
	path = .vim/pack/benjaminwil/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/pack/benjaminwil/start/polyglot"]
	path = .vim/pack/benjaminwil/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/benjaminwil/start/rspec"]
	path = .vim/pack/benjaminwil/start/rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "/Users/bwillems/.vim/pack/benjaminwil/start/rg"]
	path = /Users/bwillems/.vim/pack/benjaminwil/start/rg
	url = https://github.com/gevann/vim-rg
